$colors: (
  header-color: #edede9,
  header-text-color: #0077b6,
  nav-foot-color: #073b4c,
  main-color: #fbfefb,
  text-general-color: #ffffff,
  text-general-black: #000000,
  contact-color: #c9c5cb,
);
