//Import scss
@import "components/mixins.scss";

/*FOOTER starts here*/
footer {
  grid-area: footer;
  background-color: map-get($colors, nav-foot-color);
  font-size: 0.9rem;
  color: map-get($colors, text-general-color);
  text-align: center;
  @include flex(flex, column);
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  footer {
    font-size: 0.8rem;
    color: map-get($colors, text-general-color);
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  footer {
    font-size: 0.3rem;
    color: map-get($colors, text-general-color);
    flex-direction: column;
  }
}

.footer__text {
  font-size: 0.9rem;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .footer__text {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  .footer__text {
    font-size: 0.7rem;
  }
}

footer a {
  color: map-get($colors, text-general-color);
}

.footer-img-social_networks {
  margin: 0rem 0.6rem;
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  filter: invert(100%);
  &:hover {
    transform: scale(1.1);
  }
}
